<div class="login-img">
    <div style="display: flex; align-items: center;height: 100%;justify-content: center;" class="animated fadeInLeft">
        <div class="medium-7 small-12 large-3" style="min-width: 400px; max-width: 600px;">
           <!-- <div class="logo"></div> -->
            <img src="../../assets/images/Openprise_Logo.png" class="op-logo">
            <mat-card>
                <h2 style="text-align: center">Login in</h2>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Email" autofocus>
                        <i class="material-icons small-icons">person</i>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="Password">
                        <i class="material-icons small-icons">lock</i>
                    </mat-form-field>
                    <button mat-raised-button routerLink="/dashboard"
                        color="primary" style="width: 100%">Login in
                    </button>
                    <div class="menu-opt">
                        <button md-button [matMenuTriggerFor]="menu" style="float: right;"><a>Options</a></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <span>Forgor passoword?</span>
                            </button>
                            <button mat-menu-item routerLink="/register">
                                <span>Create account</span>
                            </button>
                        </mat-menu>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>